@model List<CoSmellRefine.Models.ViewModels.CategoryViewModel>

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "CoSmellRefine";
}


<div class="container mt-5">
    <a asp-controller="DeveloperLearn" asp-action="Index" class="btn dark-btn mb-5">
        <i class="fas fa-arrow-left"></i> Back
    </a>
    <p class="mb-4 h2">Modules</p>
    <div class="row">
        <div class="col-10 offset-1 p-4">
            <div class="row">
                @foreach (var category in Model)
                {
                    <div class="col-md-4 mt-5">
                        <div class="card module-card h-100 position-relative" onclick="location.href='@Url.Action("Submodules", "DeveloperLearn", new { id = category.Id })'">
                            @if (category.IsCompleted)
                            {
                                <i class="fas fa-check-circle text-success position-absolute h2" style="bottom: 10px; right: 10px;"></i>
                            }
                            <img src="@category.ImageUrl" class="card-img-top" alt="@category.Name">
                            <div class="card-body pb-0 mb-0">
                                <h5 class="card-title">@category.Name</h5>
                                <p class="card-text">@category.Description</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


