@model List<CoSmellRefine.Models.ViewModels.ModeratorDiscussionViewModel>
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "CoSmellRefine";
    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
}

<div class="sidebar-container">
    <partial name="_ModeratorSidebar" />

    <section class="user-main dashboard-content p-5">
        <div class="py-2">
            <div class="container">
                <h1>Discussion List</h1>
            </div>
        </div>


        <form method="get"
              asp-controller="ModeratorDiscussion" ,
              asp-action="List">
            <div class="container mt-5">
                <div class="row">
                    <div class="col col-md-3 d-flex">
                        <input type="text" class="form-control"
                               name="searchQuery" value="@ViewBag.SearchQuery" />
                        <button type="submit" class="btn btn-warning ms-3">Search</button>
                    </div>
                </div>
            </div>
        </form>


        <div class="">
            <div class="container py-5">

                @if (Model != null && Model.Any())
                {
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Question Id</th>
                                <th>
                                    <div class="d-flex flex-row justify-content-center align-items-center">
                                        User
                                     
                                            <span>
                                                <a class="btn btn-link"
                                                   asp-controller="ModeratorDiscussion"
                                                   asp-action="List"
                                                   asp-route-sortBy="User"
                                                   asp-route-sortDirection="Asc"
                                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                                    <i class="bi bi-arrow-up"></i>
                                                </a>
                                            </span>
                                            <span>
                                                <a class="btn btn-link"
                                                   asp-controller="ModeratorDiscussion"
                                                   asp-action="List"
                                                   asp-route-sortBy="User"
                                                   asp-route-sortDirection="Desc"
                                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                                    <i class="bi bi-arrow-down"></i>
                                                </a>
                                            </span>
                                      
                                    </div>


                                </th>
                                <th>
                                    <div class="d-flex flex-row justify-content-center align-items-center">
                                        Title
                                      
                                            <span>
                                                <a class="btn btn-link"
                                                   asp-controller="ModeratorDiscussion"
                                                   asp-action="List"
                                                   asp-route-sortBy="Title"
                                                   asp-route-sortDirection="Asc"
                                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                                    <i class="bi bi-arrow-up"></i>
                                                </a>
                                            </span>
                                            <span>
                                                <a class="btn btn-link"
                                                   asp-controller="ModeratorDiscussion"
                                                   asp-action="List"
                                                   asp-route-sortBy="Title"
                                                   asp-route-sortDirection="Desc"
                                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                                    <i class="bi bi-arrow-down"></i>
                                                </a>
                                            </span>
                                      
                                    </div>

                                </th>
                                <th>
                                    <div class="d-flex flex-row justify-content-center align-items-center">
                                        Posted Date
                                  
                                            <span>
                                                <a class="btn btn-link"
                                                   asp-controller="ModeratorDiscussion"
                                                   asp-action="List"
                                                   asp-route-sortBy="PostedDate"
                                                   asp-route-sortDirection="Asc"
                                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                                    <i class="bi bi-arrow-up"></i>
                                                </a>
                                            </span>
                                            <span>
                                                <a class="btn btn-link"
                                                   asp-controller="ModeratorDiscussion"
                                                   asp-action="List"
                                                   asp-route-sortBy="PostedDate"
                                                   asp-route-sortDirection="Desc"
                                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                                    <i class="bi bi-arrow-down"></i>
                                                </a>
                                            </span>
                                        
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex flex-row justify-content-center align-items-center">
                                        Status
                                   
                                            <span>
                                                <a class="btn btn-link"
                                                   asp-controller="ModeratorDiscussion"
                                                   asp-action="List"
                                                   asp-route-sortBy="Status"
                                                   asp-route-sortDirection="Asc"
                                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                                    <i class="bi bi-arrow-up"></i>
                                                </a>
                                            </span>
                                            <span>
                                                <a class="btn btn-link"
                                                   asp-controller="ModeratorDiscussion"
                                                   asp-action="List"
                                                   asp-route-sortBy="Status"
                                                   asp-route-sortDirection="Desc"
                                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                                    <i class="bi bi-arrow-down"></i>
                                                </a>
                                            </span>
                                    
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex flex-row justify-content-center align-items-center">
                                        Type
                                    
                                            <span>
                                                <a class="btn btn-link"
                                                   asp-controller="ModeratorDiscussion"
                                                   asp-action="List"
                                                   asp-route-sortBy="Type"
                                                   asp-route-sortDirection="Asc"
                                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                                    <i class="bi bi-arrow-up"></i>
                                                </a>
                                            </span>
                                            <span>
                                                <a class="btn btn-link"
                                                   asp-controller="ModeratorDiscussion"
                                                   asp-action="List"
                                                   asp-route-sortBy="Type"
                                                   asp-route-sortDirection="Desc"
                                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                                    <i class="bi bi-arrow-down"></i>
                                                </a>
                                            </span>
                                   
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex flex-row justify-content-center align-items-center">
                                        Number of Responses
                                     
                                            <span>
                                                <a class="btn btn-link"
                                                   asp-controller="ModeratorDiscussion"
                                                   asp-action="List"
                                                   asp-route-sortBy="Responses"
                                                   asp-route-sortDirection="Asc"
                                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                                    <i class="bi bi-arrow-up"></i>
                                                </a>
                                            </span>
                                            <span>
                                                <a class="btn btn-link"
                                                   asp-controller="ModeratorDiscussion"
                                                   asp-action="List"
                                                   asp-route-sortBy="Responses"
                                                   asp-route-sortDirection="Desc"
                                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                                    <i class="bi bi-arrow-down"></i>
                                                </a>
                                            </span>
                                    
                                    </div>
                                </th>

                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var question in Model)
                            {
                                <tr>
                                    <td>@question.Id</td>
                                    <td>@question.User.UserName</td>
                                    <td>@question.Title</td>
                                    <td>@question.PostedDate</td>
                                    <td>@question.Status</td>
                                    <td>@question.Type</td>
                                    <td>@question.NumOfResponses</td>
                                    <td>
                                        <a asp-controller="DeveloperQuestion" asp-action="Details" asp-route-id="@question.Id" class="btn btn-primary mx-2">
                                            <i class="bi bi-eye-fill"></i> 
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation example" class="bg-transparent">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link"
                                   asp-controller="ModeratorDiscussion"
                                   asp-action="List"
                                   asp-route-pageNumber="@prevPage"
                                   asp-route-pageSize="@ViewBag.PageSize"
                                   asp-route-sortBy="@ViewBag.SortBy"
                                   asp-route-sortDirection="@ViewBag.SortDirection">
                                    Previous
                                </a>
                            </li>

                            @for (int i = 1; i <= ViewBag.TotalPages; i++)
                            {
                                <li class="page-item">
                                    <a class="page-link"
                                       asp-controller="ModeratorDiscussion"
                                       asp-action="List"
                                       asp-route-pageNumber="@i"
                                       asp-route-pageSize="@ViewBag.PageSize"
                                       asp-route-sortBy="@ViewBag.SortBy"
                                       asp-route-sortDirection="@ViewBag.SortDirection">
                                        @i
                                    </a>
                                </li>
                            }


                            <li class="page-item">
                                <a class="page-link"
                                   asp-controller="ModeratorDiscussion"
                                   asp-action="List"
                                   asp-route-pageNumber="@nextPage"
                                   asp-route-pageSize="@ViewBag.PageSize"
                                   asp-route-sortBy="@ViewBag.SortBy"
                                   asp-route-sortDirection="@ViewBag.SortDirection">
                                    Next
                                </a>
                            </li>
                        </ul>
                    </nav>
                }
                else
                {
                    <p>No discussion found!</p>
                }
            </div>
        </div>
    </section>
</div>


@section Scripts {
    <script src="/js/moderator_sidebar.js"></script>
}