@model CoSmellRefine.Models.ViewModels.QuestionListModel


@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "CoSmellRefine";
    int nextPage = Model.PageNumber + 1;
    int prevPage = Model.PageNumber - 1;
}

<div class="container my-4">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <div>
            <h2>All Questions</h2>
            <p>@Model.Questions.Count() questions</p>
        </div>
        <div>
            <a asp-controller="DeveloperQuestion" asp-action="PostQuestion" class="btn dark-btn">Ask Question</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <form method="get" asp-controller="DeveloperQuestion" asp-action="List">
                <div class="filter-section">
                    <h5>Filter by</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="FilterType" value="All" id="allQuestions" checked>
                        <label class="form-check-label" for="allQuestions">
                            All questions
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="FilterType" value="MyQuestions" id="myQuestions">
                        <label class="form-check-label" for="myQuestions">
                            My questions
                        </label>
                    </div>

                    <h5 class="mt-4">Sorted by</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="SortBy" value="Newest" id="newest" checked>
                        <label class="form-check-label" for="newest">
                            Newest
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="SortBy" value="HighestScore" id="highestScore">
                        <label class="form-check-label" for="highestScore">
                            Highest number of answers
                        </label>
                    </div>

                    <h5 class="mt-4">Question Type</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="QuestionType" value="CodeSmellIdentification" id="codeSmellIdentification">
                        <label class="form-check-label" for="codeSmellIdentification">
                            Code Smell Identification
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="QuestionType" value="RefactoringTechniqueIdentification" id="refactoringTechniqueIdentification">
                        <label class="form-check-label" for="refactoringTechniqueIdentification">
                            Refactoring Technique Identification
                        </label>
                    </div>
                    <div class="mt-2 d-flex justify-content-center align-items-center">
                        <button type="submit" class="btn light-btn btn-sm mt-2">
                            <i class="bi bi-funnel"></i> Apply filter
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-9">
            @foreach (var question in Model.Questions)
            {
                <a asp-controller="DeveloperQuestion" asp-action="Details" asp-route-id="@question.Id" class="question d-block" style="text-decoration: none; color: inherit;">
                    <div class="d-flex justify-content-between align-items-start mt-0 pt-0 mb-1">
                        @if (question.Status.Equals(CoSmellRefine.Utility.QuestionStatus.Open))
                        {
                            <span class="badge bg-success">@question.Status</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">@question.Status</span>
                        }
                        @if (question.Type.Equals(CoSmellRefine.Utility.QuestionType.CodeSmellIdentification))
                        {
                            <span class="badge bg-primary">@question.Type</span>
                        }
                        else
                        {
                            <span class="badge bg-secondary">@question.Type</span>
                        }

                    </div>
                    <div class="d-flex justify-content-start">
                        <div style="width:15%;" class="d-flex flex-column justify-content-center align-items-center">
                            <p> @question.Responses.Count </p>
                            <p>@(question.Responses.Count>1 ? "answers" : "answer")</p>
                        </div>
                        <div class="d-flex justify-content-between w-75 position-relative">
                            <div>
                                <strong>@question.Title</strong>
                                <p>@question.Body</p>
                                <small class="text-muted">@question.User.UserName asked @question.PostedDate.ToShortTimeString()</small>
                            </div>
                  
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
    <nav aria-label="Page navigation example" class="bg-transparent mt-2 d-flex justify-content-center align-items-center">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link"
                    asp-controller="DeveloperQuestion"
                    asp-action="List"
                    asp-route-pageNumber="@prevPage"
                    asp-route-pageSize="@Model.PageSize"
                    asp-route-sortBy="@Model.SortBy"
                    asp-route-questionType="@Model.QuestionType"
                    asp-route-filterType="@Model.FilterType">
                    Previous
                </a>
            </li>

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item">
                    <a class="page-link"
                        asp-controller="DeveloperQuestion"
                        asp-action="List"
                        asp-route-pageNumber="@i"
                        asp-route-pageSize="@Model.PageSize"
                        asp-route-sortBy="@Model.SortBy"
                        asp-route-questionType="@Model.QuestionType"
                        asp-route-filterType="@Model.FilterType">
                        @i
                    </a>
                </li>
            }

            <li class="page-item">
                <a class="page-link"
                    asp-controller="DeveloperQuestion"
                    asp-action="List"
                    asp-route-pageNumber="@nextPage"
                    asp-route-pageSize="@Model.PageSize"
                    asp-route-sortBy="@Model.SortBy"
                    asp-route-questionType="@Model.QuestionType"
                    asp-route-filterType="@Model.FilterType">
                    Next
                </a>
            </li>
        </ul>
    </nav>
</div>



